.question {
    color: white;
}

.not-event {
    pointer-events: none;
}

.listGroup {
    color: black;
    width: 80%;
    max-width: 500px;
    margin: 10px auto;
}

.listItem {
    width: 100%;
}